$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 5rem;
}

.main_block {
    padding: 3rem 1.5rem;
}

.question_image {
    max-width: 300px;
    height: auto;
}

.question {
    margin-top: 50px;
}